

<section class="masthead">
  <div class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">RUBY</a></li>
    </ul>
  </div>
  <img src="assets/AA_Times_Logo.png" alt="App Academy Times" class="logo">

    <ul class="masthead-links">
      <li><a href="#"><time>Tuesday, October 18, 2016</time></a></li>
      <li><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Today’s Paper</a></li>
      <li></i><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a></li>
      <li><a href="#">77°F</a></li>
      <li><a href="#">AA0 <span class="stock-ticker">+100%</span></a></li>
    </ul>

</section>
